<% content_for :hide_footer, true %>

<div class="backcolor_show ">
<div class="confirm success_center">

<div class="success-message">
  <p>入庫情報の登録が完了しました。</p>
  <h3>引き続き出庫登録を行う場合は<br>「出庫登録」からご登録いただけます</h3>
  <%= link_to "出庫登録", unshipped_entries_path, class: "success_btn" %>
  <%= link_to "入庫登録", new_in_entry_path, class: "success_btn", style: "background-color: orange; color: black" %>
</div>
</div>
</div>