<!DOCTYPE html>
<html lang="ja">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>スマホ専用ホーム</title>
</head>
<body id="smartphone">
  <header>
  <h2>COX GEAR</h2>
  <h3>- 豊橋営業所 -</h3>
  <hr>
  </header>
  <main>
    <nav>
    <div class="smartnav nav3"><%= link_to "今日のやること", schedules_path %></div>
    <div class="smartnav nav1"><%= link_to "FAXの情報を登録", new_plan_path %></div>
    <!--<div class="smartnav nav2"><%= link_to "車両の移動日と担当者を決める", plans_path %></div>
    <div class="smartnav nav4"><%= link_to "移動記録", movement_records_path %></div> -->
    </nav>
  </main>
  <hr style="margin-top: 50px;">
  <footer>
    
  </footer>
    
</body>
</html>
